html{
    margin:0;
    height: 100%;
}
body {

    background-image: url(css/wp2646803.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
    margin: 0;
    height: 100%;
  }

  .buttonDiv{
    width: 100%;
    background-color: gray;
    height: 20%;
    position: absolute;
    bottom: 0;
  }

  .buttonDiv button{
      margin-left: 40%;
      border-radius: 10%;
      width: 80px;
  }

.display-cover {
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    justify-content: center;
}
video {

        min-width: inherit;
        min-height: inherit;
  }